.wrapper {
  -webkit-tap-highlight-color: transparent;
  width: 750px;
  height: 5880px;
  background: url(../background1.jpg) no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 11px;
  background: #fef4ec;
}

::-webkit-scrollbar-thumb {
  background: #e57c30;
  border-radius: 6px;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper {
  height: 100vh;
  /* 占据整个视口高度 */
  width: 100vw;
  /* 占据整个视口宽度 */
}
.mySwiper .swiper-slide {
  .first.squre {
    background: url(../swiper/swiper1.webp) top center no-repeat;
    background-size: 100% auto;
    .title {
      width: 372px;
      height: 486px;
      top: 152px;
      left: 37px;
      background: url(@/assets/title/title1.webp) no-repeat;
      background-size: cover;
    }
    .line {
      position: absolute;
      width: 50px;
      height: 878px;
      top: 39px;
      right: 15px;
      background: url(@/assets/line.webp) no-repeat;
      background-size: cover;
    }
    .content {
      position: absolute;
      width: 330px;
      right: 101px;
      top: 145px;
      .center {
        margin: 18px 0 54px 0;
      }
      .level-icon {
        width: 255px;
        height: 245px;
        margin-top: 21px;
      }
      .beyong {
        font-family: Source Han Sans SC;
        font-weight: 400;
        font-size: 26px;
        color: rgba(254, 253, 253, 0.8);
        position: absolute;
        right: -28px;
        letter-spacing: normal;
        width: 304px;
        margin-top: 13px;
        height: 37px;
        background: url(@/assets/beyong.webp) no-repeat;
        background-size: 100% auto;
       display: flex;
       align-items: center;justify-content: center;
        text-align: center;
      }
    }
    .other {
      width: 595px;
      // margin: 332px auto;
      margin: 0 auto;
      padding-top: 332px;
      .red-text {
        line-height: 72px;
      }
      .gift {

        font-weight: 400;
        font-size: 36px;
        text-align: center;
        color: #343026;
        margin-top: 66px;
        line-height: 60px;
      }
    }
  }

  .second.squre {
    background: url(../swiper/swiper2.webp) top center no-repeat;
    background-size: 100% auto;
    .title {
      width: 298px;
      height: 588px;
      top: 569px;
      left: 54px;
      background: url(@/assets/title/title2.webp) no-repeat;
      background-size: cover;
    }
    .line {
      position: absolute;
      width: 50px;
      height: 461px;
      top: 174px;
      left: 47px;
      background: url(@/assets/line2.webp) no-repeat;
      background-size: cover;
    }
    .normal {
      position: absolute;
      width: 273px;
      text-align: left;
      top: 238px;
      left: 94px;
      letter-spacing: normal;
      .num-two {
        margin-top: 52px;
      }
      .red-text {
        display: inline-block;
        padding-top: 19px;
      }
    }
    .content {
      position: absolute;
      right: 50px;
      top: 111px;
      .content-item {
        display: flex;
        margin-bottom: 41px;
        visibility: hidden;
        .optimum {
          width: 44px;
          height: 230px;
          background: url(@/assets/optimum.webp) no-repeat;
          background-size: cover;
          letter-spacing: normal;
          font-family: Source Han Sans SC;
          font-weight: 400;
          font-size: 24px;
          color: #f8f1c7;
          display: flex;
          justify-content: center;
          align-items: center;
          writing-mode: vertical-rl; /* 文字竖排，从右往左 */
          text-orientation: upright;
        }
        .mode {
          width: 267px;
          height: 227px;
          background: url(@/assets/mode.webp) no-repeat;
          background-size: cover;
          .mode-icon {
            width: 134px;
            height: 135px;
            margin: 23px 0 0 62px;
          }
          .mode-text {
            margin-left: 30px;
            margin-top: 60px;
            font-family: Source Han Sans SC;
            font-weight: bold;
            font-size: 60px;
            text-align: center;
            width: 200px;
          }
          .mode-name {
            font-family: Source Han Sans SC;
            font-weight: 400;
            font-size: 26px;
            color: #d8b576;

            margin-left: 81px;
          }
          .black {
            margin-left: 78px;
            color: #343026;
          }
        }
      }
    }
  }

  .third.squre {
    background: url(../swiper/swiper3.webp) top center no-repeat;
    background-size: 100% auto;
    .title {
      width: 323px;
      height: 461px;
      top: 61px;
      left: 50%;
      transform: translate(-50%);
      background: url(@/assets/title/title3.webp) no-repeat;
      background-size: cover;
    }
    .fb {
      width: 73px;
      height: 378px;
      background: url(@/assets/fb.webp) no-repeat;
      background-size: cover;
      position: absolute;
      top: 123px;
      left: 15px;
    }
    .general {
      position: absolute;
      width: 256px;
      height: 280px;
      // background: url(@/assets/gennel-border.webp) no-repeat;
      background-repeat: no-repeat;
      background-position: center 8px;
      // border-radius: 50%;
      background-size: 235px 235px;
      .general-avatar {
        width: 256px;
        height: 280px;
        position: relative;
        z-index: 2;
      }
      .avatar-img {
        position: absolute;
        width: 235px;
        height: 235px;
        left: 10px;
        top: 7px;
        border-radius: 50%;
      }
      .gennger-rate {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 38px;
        left: 23px;
        z-index: 3;
        width: 203px;
        height: 63px;
        font-family: Source Han Sans SC;
        font-weight: 400;
        font-size: 21px;
        color: #fff5d7;
        line-height: 48px;
        background: url(@/assets/gennger-rate.webp) no-repeat;
        background-size: cover;
        // .more-rate {
        //   margin-right: 40px;
        // }
        .feng {
          color: #fddd7e;
          margin: 0 5px;
          font-weight: 100;
          font-size: 29px;
        }
        .rate {
          color: #fddd7e;
          font-size: 29px;
        }
        // .num {
        //   margin-left: -25px;
        // }
      }
      .gennger-name {
        position: absolute;
        top: 22px;
        right: 24px;
        width: 35px;
        z-index: 3;
        height: 170px;
        background: url(@/assets/genner-name.webp) no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        writing-mode: vertical-rl; /* 文字竖排，从右往左 */
        text-orientation: upright;
        font-family: Source Han Sans CN;
        font-weight: 400;
        font-size: 24px;
        color: #fdeab1;
      }
    }
    .general-one {
      left: 40px;
      top: 769px;
    }
    .general-two {
      right: 45px;
      top: 901px;
    }
    .general-three {
      zoom: 1.2;
      left: 93px;
      top: 900px;
      .avatar-img {
        position: absolute;
        width: 235px;
        height: 235px;
        left: 12px;
        top: 8px;
        border-radius: 50%;
      }
    }
  }

  .fourth.squre {
    background: url(../swiper/swiper4.webp) top center no-repeat;
    background-size: 100% auto;
    .title {
      width: 329px;
      height: 494px;
      top: 245px;
      left: 60px;

      background: url(@/assets/title/title4.webp) no-repeat;
      background-size: cover;
    }
    .zzq-right {
      position: absolute;
      top: 450px;
      right: 56px;
      .zzq-level {
        position: relative;
        height: 173px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        background: url(@/assets/zzq.webp) no-repeat bottom center;
        background-size: 187px 161px;
        right: -85px;
        .zzq-level-img {
          width: 165px;
          height: 151px;
        }
      }
      .zzq-num {
        font-family: Source Han Sans SC;
        font-weight: bold;
        font-size: 72px;
        text-align: right;
        color: #b33520;
        // line-height: 11px;
      }
      .zzq-text {
        font-family: Source Han Sans SC;
        font-weight: 400;
        font-size: 30px;
        text-align: right;
        color: #343026;
        line-height: 30px;
      }
    }
    .zzq-boder {
      position: absolute;
      top: 777px;
      width: 630px;
      left: 50%;
      margin-left: -315px;
      height: 498px;
      background: url(@/assets/kuang.webp) no-repeat;
      background-size: cover;
    }
    .zzq-header {
      display: flex;
      width: 100%;
      height: 120px;
      justify-content: space-around;
      align-items: center;
      .header-item {
        display: flex;
        text-align: center;
        flex-direction: column;
        font-size: 26px;
      }
    }
    .zzq-waist {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 116px;
      .waist-item {
        display: flex;
        text-align: center;
        flex-direction: column;
        font-size: 26px;
      }
    }
    .zzq-body {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 256px;
      .body-item {
        position: relative;
        width: 194px;
        height: 190px;
        display: flex;
        text-align: center;
        flex-direction: column;
        font-size: 26px;
        background-size: 178px 178px;
        background-repeat: no-repeat;
        background-position: center center;
        .body-border {
          position: relative;
          width: 194px;
          height: 190px;
          background: url(@/assets/zzq-body.webp) no-repeat;
          background-size: cover;
          .body-name {
            position: absolute;
            width: 26px;
            top: 24px;
            right: 16px;
            height: 128px;
            background: url(@/assets/body-name.webp) no-repeat;
            background-size: cover;

            font-family: Source Han Sans CN;
            font-weight: 400;
            font-size: 20px;
            color: #fdeab1;
            letter-spacing: 0.3em;
          }
        }
        .body-avatar {
          width: 173px;
          height: 173px;
          left: 10px;
          border-radius: 50%;
          top: 3px;
          position: absolute;
        }
      }
    }
  }

  .fifth.squre {
    background: url(../swiper/swiper5.webp) top center no-repeat;
    background-size: 100% auto;
    .title {
      width: 292px;
      height: 546px;
      top: 85px;
      left: 89px;
      background: url(@/assets/title/title5.webp) no-repeat;
      background-size: cover;
    }
    .events {
      position: absolute;
      top: 695px;
      width: 630px;
      left: 50%;
      margin-left: -315px;
      .level-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        .level-title {
          display: inline-block;
          width: 515px;

          text-align: center;
          font-weight: 400;
          font-size: 30px;
          color: #665247;
          line-height: 42px;
        }

        .level-num {
          display: flex;
          align-items: center;
          margin: 20px 0 30px 0;
          font-family: Source Han Sans SC;
          font-weight: bold;
          font-size: 60px;

          line-height: 11px;
          .amateur {
            width: 74px;
            height: 48px;
            margin-right: 10px;
          }
          .amateur-color {
            color: #b33520;
          }
          .major {
            width: 70px;
            height: 62px;
            margin-right: 10px;
          }
          .major-color {
            color: #7a411c;
          }
        }
      }
      .events-border {
        width: 630px;
        height: 426px;
        background: url(@/assets/kuang-mini.webp) no-repeat;
        background-size: cover;
        font-family: Source Han Sans SC;
        font-weight: 400;

        font-size: 28px;
        color: #665247;
      }
      .events-title {
        height: 73px;
        line-height: 73px;
        text-align: center;
      }
      .line {
        width: 615px;
        height: 2px;
        background: url(@/assets/border-line.webp) no-repeat;
        background-size: cover;
      }
      .num {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 140px;
      }
      .events-footer {
        height: 71px;
        line-height: 71px;
        text-align: center;
      }
      .events-borders {
        width: 630px;
        height: 434px;
        background: url(@/assets/kuang-midle.webp) no-repeat;
        background-size: cover;
        color: #665247;
        font-size: 24px;
      }
      .events-body {
        display: flex;
        width: 620px;
        justify-content: space-around;
        margin: 0 auto;
        height: 290px;
        .reason-item {
          position: relative;
          width: 124px;
          height: 292px;
          background: url(@/assets/season.webp) no-repeat;
          background-size: 124px 94px;
          &:not(:last-child)::after {
            content: "";
            position: absolute;
            right: -20px;
            top: 0;
            width: 3px;
            background: url(@/assets/vertical-line.webp) no-repeat;
            background-size: cover;
            height: 265px;
          }
          .reason-header {
            width: 124px;
            height: 94px;
            line-height: 74px;
            text-align: center;

            font-family: Source Han Sans SC;
            font-weight: bold;
            font-size: 36px;
            color: #7a411c;
          }
          .reason-box {
            display: flex;
            justify-content: space-evenly;
            width: 124px;

            margin-top: 10px;
            .name {
              writing-mode: vertical-lr;
              text-orientation: upright;
              overflow: hidden;
              height: 292px;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              text-overflow: ellipsis;
              white-space: nowrap;
              flex: 1;
              display: flex;

              align-items: center;
            }
          }
        }
      }
    }
  }

  .sixth.squre {
    background: url(../swiper/swiper6.webp) top center no-repeat;
    background-size: 100% auto;
    .title {
      width: 349px;
      height: 424px;
      top: 190px;
      right: 31px;
      background: url(@/assets/title/title6.webp) no-repeat;
      background-size: cover;
    }
    .main {
      position: absolute;
      top: 124px;
      left: 50px;
      height: 878px;
      width: 585px;
    }
    .line {
      width: 50px;
      height: 878px;

      background: url(@/assets/line.webp) no-repeat;
      background-size: cover;
    }
    .achievement {
      position: absolute;
      top: 94px;
      left: 55px;
      font-family: Source Han Sans SC;
      font-weight: 400;
      font-size: 24px;
      .achievement-item {
        margin-bottom: 39px;
        .time {
          color: #b33520;
        }
        .content {
          margin-top: 8px;
        }
        &:nth-child(1) {
          width: 231px;
        }
        &:nth-child(2) {
          width: 256px;
        }
        &:nth-child(3) {
          width: 348px;
        }
        &:nth-child(4) {
          width: 541px;
        }
        &:nth-child(5) {
          width: 537px;
        }
      }
    }
  }

  .seventh.squre {
    background: url(../swiper/swiper7.webp) top center no-repeat;
    background-size: 100% auto;
    .title {
      width: 331px;
      height: 459px;
      top: 349px;
      right: 49px;
      background: url(@/assets/title/title7.webp) no-repeat;
      background-size: cover;
    }
    .submission {
      position: absolute;
      top: 762px;
      left: 69px;
      .line {
        width: 50px;
        height: 730px;
        background: url(@/assets/line3.webp) no-repeat;
        background-size: cover;
      }
      .content {
        position: absolute;
        top: 111px;
        left: 50px;
        width: 580px;
        height: 364px;
        font-family: Source Han Sans SC;
        font-weight: 400;
        font-size: 30px;
        color: #343026;
        line-height: 40px;
        span {
          font-size: 36px;
        }
        .normal {
          font-size: 30px;
        }
        p {
          height: 430px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
        }
      }
    }
    .nothing {
      width: 651px;
      position: absolute;
      top: 820px;
      left: 50%;
      margin-left: -325px;
      .nothing-title {
        text-align: right;
        margin-right: 22px;
        height: 147px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .border {
        width: 651px;
        margin-top: 26px;
        height: 348px;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        background-size: 611px 322px;
        .nothing-general {
          width: 651px;
          height: 348px;
        }
        .name {
          position: absolute;
          width: 651px;
          font-family: Source Han Sans SC;
          font-weight: 400;
          font-size: 26px;
          color: #fdeab1;
          line-height: 30px;
          text-align: center;
          bottom: 16px;
        }
      }
    }
  }

  .eighth.squre {
    background: url(../swiper/swiper8.webp) top center no-repeat;
    background-size: 100% auto;
    .user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 176px;
      margin-bottom: 40px;
      .user {
        display: flex;
        height: 168px;
        width: 630px;
        margin-bottom: 26px;
        .user-avatar {
          width: 163px;
          height: 168px;
          margin-right: 35px;
          background-position: center 10px;
          background-repeat: no-repeat;
          background-image: url(https://yjcmndzb.sanguosha.com/swlide.png);

          background-size: 149px 149px;
          .avatar-img {
            width: 163px;
            height: 168px;
          }
        }
        .user-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .user-name {
            font-family: Source Han Sans SC;
            font-weight: 500;
            font-size: 41px;
            color: #6a5448;
            margin-bottom: 16px;
          }
          .user-level {
            font-family: Source Han Sans SC;
            font-weight: 400;
            font-size: 35px;
            color: #9b9082;
            line-height: 53px;
            opacity: 0.8;
          }
        }
      }
      .user-border {
        width: 630px;
        height: 242px;
        background: url(@/assets/kaung-small.webp) no-repeat;
        background-size: cover;
        .user-header,
        .user-body {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 120px;
          .header-item,
          .body-item {
            display: flex;
            text-align: center;
            flex-direction: column;
            font-size: 26px;
            .mini {
              font-size: 24px;
            }
          }
        }
      }
    }
    .mbti {
      width: 615px;
      margin: 0 auto;
      .mbti-title {
        font-family: Source Han Sans SC;
        font-weight: 400;
        font-size: 26px;
        color: #665247;
      }
      .mbti-value {
        font-family: Source Han Sans SC;
        font-weight: bold;
        font-size: 110px;
        height: 130px;
        line-height: 130px;
        color: #b33520;
      }
      .mbti-line {
        width: 615px;
        height: 10px;
        background: url(@/assets/mbti-line.webp) no-repeat;
        background-size: cover;
      }
      .mbti-content {
        display: flex;
        justify-content: space-around;
        // align-items: center;
        flex-direction: column;
        height: 383px;
        width: 393px;
        .mbti-item {
          width: 100%;

          font-family: Source Han Sans SC;
          font-weight: normal;
          font-size: 26px;
          color: #665247;
          line-height: 36px;
          .red-more {
            font-family: Source Han Sans SC;
            font-weight: bold;
            font-size: 30px;
            color: #b33520;
            line-height: 36px;
          }
        }
      }
    }
    .share {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 411px;
      height: 68px;
      background: url(@/assets/share.webp) no-repeat;
      background-size: cover;
      margin: 49px auto;
      text-align: center;
      font-family: Source Han Sans SC;
      font-weight: 400;
      font-size: 30px;
      color: #665247;

    }
    .scratch {
      position: absolute;
      width: 210px;
      height: 396px;
      right: 60px;
      top: 839px;
    }
  }
}

.mySwiper .swiper-slide .squre {
  width: 750px;
  height: 100%;
  position: relative;

  .title {
    position: absolute;
  }
  .line {
    position: absolute;
  }
  .vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  .normal {
    font-family: Source Han Sans SC;
    font-weight: 400;
    font-size: 26px;
    text-align: right;
    letter-spacing: 2px;
    color: #343026;
    line-height: 26px;
  }
  .red-text {
    font-family: Source Han Sans SC;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #b33520;
    line-height: 48px;
  }
  .red {
    color: #b33520;
  }
  .yellow {
    color: #ffdf7f;
  }
  .bottom {
    position: fixed;
    bottom: 0;
    width: 750px;
    height: 148px;
    background: url(../bottom.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cn-bottom {
      display: inline-block;
      width: 266px;
      height: 33px;
      background: url(../cn-slide.png) no-repeat;
      background-size: 100% 100%;
    }

    .en-bottom {
      display: inline-block;
      width: 266px;
      height: 33px;
      background: url(../en-slide.png) no-repeat;
      background-size: 100% 100%;
    }
  }

  .bottom-last {
    position: fixed;
    bottom: 0;
    width: 750px;
    height: 40px;
    background: url(../bottom-last.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.fill-bg {
  background: url(../home-back.png) center no-repeat;
  background-size: 100% 100%;
  background-position: 100%;

  .fill {
    transform: scale(1);
    position: relative;
    width: 750px;
    height: 1334px;
    background: url(../fill-back.png) center no-repeat;
    background-size: 100% auto;
  }

  .fill-logo {
    width: 392px;
    height: 190px;
    margin-top: 19px;
    margin-left: 86px;
  }

  .fill-back {
    position: relative;
    width: 688px;
    height: 998px;
    background: url(../cp-card.png) center no-repeat;
    background-size: 100% auto;
    margin: -82px auto 0 auto;

    .title {
      position: absolute;
      width: 532px;
      height: 117px;
      top: 225px;
      left: 50%;
      transform: translateX(-50%);
    }

    .cn-title {
      background: url(../cn-cp-title.png) no-repeat;
      background-size: cover;
    }

    .en-title {
      background: url(../en-cp-title.png) no-repeat;
      background-size: cover;
    }

    .input-list {
      position: absolute;
      top: 436px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 443px;

      margin: 29px auto 0 auto;

      input {
        height: 80px;
        background: #ffffff;
        border-radius: 38px;
        outline: none;
        margin-bottom: 40px;
      }

      .subject {
        width: 221px;
        height: 27px;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      .cn-cp-subject {
        background: url(../cn-cp-subject.png) no-repeat;
        background-size: cover;
      }

      .en-cp-subject {
        background: url(../en-cp-subject.png) no-repeat;
        background-size: contain;
      }

      .cn-input {
        width: 369px;
        height: 70px;
        background: #ffffff;
        border-radius: 38px;
        padding-left: 73px;

        outline: none;

        &:nth-child(4) {
          width: 238px;
          height: 89px;
          padding: 0;
          border-radius: 52px;
          background-color: #393939;
          text-align: center;
          border: transparent;
          color: #dcc0de;
          font-size: 38px;
          font-weight: bold;
          line-height: 100%;

          &::placeholder {
            color: #cfd9da;
            font-size: 24px;
          }
        }

        &:nth-child(2) {
          border: 4px solid #d89cd1;
          padding-left: 84px;
          box-shadow: 0 0 10px #d89cd1;
          width: 358px;
          color: #d89cd1;

          &::placeholder {
            color: #e8e8e8;
            line-height: normal;

            font-size: 38px;
          }
        }

        &:nth-child(1) {
          border: 4px solid #d89cd1;
          color: #d89cd1;
          padding-left: 84px;
          box-shadow: 0 0 10px #d89cd1;
          width: 358px;

          &::placeholder {
            color: #e8e8e8;
            font-size: 38px;
          }
        }
      }

      .en-input {
        width: 411px;
        padding-left: 28px;

        &:nth-child(4) {
          width: 238px;
          height: 89px;
          padding: 0;
          border-radius: 52px;
          background-color: #393939;
          text-align: center;
          border: transparent;
          color: #dcc0de;
          font-size: 38px;
          font-weight: bold;
          line-height: 100%;

          &::placeholder {
            color: #cfd9da;
            font-size: 28px;
            text-align: center;
          }
        }

        &:nth-child(2) {
          border: 4px solid #d89cd1;
          color: #d89cd1;
          padding-left: 84px;
          box-shadow: 0 0 10px #d89cd1;
        }

        &:nth-child(1) {
          border: 4px solid #d89cd1;
          color: #d89cd1;
          padding-left: 84px;
          box-shadow: 0 0 10px #d89cd1;
        }

        &::placeholder {
          font-size: 26px;
          line-height: 0px;
          text-align: left;
          font-style: normal;
          text-transform: none;
        }
      }
    }
  }

  .confirm {
    width: 189px;
    height: 90px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .cn-confirm {
    background: url(../cn-confirm.png) no-repeat;
    background-size: cover;
  }

  .en-confirm {
    background: url(../en-confirm.png) no-repeat;
    background-size: cover;
  }

  .cn-cp-logo {
    background: url(../cn-cp-logo.png) no-repeat;
    background-size: cover;
  }

  .en-cp-logo {
    background: url(../en-cp-logo.png) no-repeat;
    background-size: cover;
  }

  .topic {
    position: relative;
    width: 750px;
    transform: scale(1);
    height: 1334px;
    background: url(../fill-back.png) center no-repeat;
    background-size: 100% auto;

    .fill-logo {
      width: 392px;
      height: 190px;
      margin-top: 19px;
      margin-left: 86px;
    }

    .topic-back {
      position: relative;
      width: 688px;
      height: 998px;
      background: url(../cp-card.png) center no-repeat;
      background-size: 100% auto;
      margin: -82px auto 0 auto;

      .question {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 38px;
        font-family: HYETouSongW;
        font-weight: bold;
        color: #e0b9da;
        top: 116px;
        right: 88px;
        width: 131px;
        height: 63px;
        background-color: #393939;
      }

      .title {
        position: absolute;
        width: 524px;
        height: 127px;
        top: 198px;
        right: 85px;
        background: url(../question-back.png) no-repeat;
        background-size: cover;
      }

      .select {
        position: absolute;
        top: 360px;
      }
    }

    .en-subject {
      font-size: 32px;
      line-height: normal;
    }

    .cn-subject {
      font-size: 42px;
      line-height: 54px;
    }

    .subject {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-family: HYETouSongW;

      // line-height: 64px;
      width: 676px;
      margin: 0 auto;
      // margin-top: 160px;
      color: #ffffff;
      // text-stroke: 1px #b1986c;
      text-align: left;
      // font-style: italic;
      font-weight: 500;
      text-transform: none;
      color: #afdff4;
      // -webkit-text-stroke: 1px #b1986c;
      z-index: 10;
      // &::before {
      //   content: "";
      //   position: absolute;
      //   width: 75px;
      //   height: 67px;
      //   background: url(../light.png) no-repeat;
      //   background-size: cover;
      //   z-index: -1;
      //   left: -24px;
      //   top: -36px;
      // }
      // &::after {
      //   content: "";
      //   position: absolute;
      //   width: 103px;
      //   height: 104px;
      //   background: url(../bork.png) no-repeat;
      //   background-size: cover;
      //   z-index: -1;
      //   right: 0;
      //   top: -41px;
      // }
      // .line {
      //   position: absolute;
      //   width: 303px;
      //   height: 18px;
      //   background: url(../line.png) no-repeat;
      //   background-size: cover;
      //   z-index: -1;
      //   bottom: -1px;
      // }
    }

    .title-content {
      width: 95%;
      //  text-indent: 2em;
    }

    .button {
      display: flex;
      width: 100%;
      justify-content: space-around;

      button {
        width: 189px;
        height: 90px;
        border: none;
        background-color: transparent;
        outline: none;
      }

      .submit {
        width: 315px;
        height: 106px;
        background: url(../cn-result.png) no-repeat;
        background-size: cover;
      }

      .cn-submit {
        background: url(../cn-result.png) no-repeat;
        background-size: 100% auto;
      }

      .en-submit {
        background: url(../en-result.png) no-repeat;
        background-size: 100% auto;
      }

      .cn-prev {
        background: url(../cn-prev.png) no-repeat;
        background-size: cover;
      }

      .cn-next {
        background: url(../cn-next.png) no-repeat;
        background-size: cover;
      }

      .en-prev {
        background: url(../en-prev.png) no-repeat;
        background-size: cover;
      }

      .en-next {
        background: url(../en-next.png) no-repeat;
        background-size: cover;
      }
    }
  }
}

.result-bg {
  // align-items: flex-start;
  background: url(../result-bg.png) no-repeat;
  overflow: auto;

  .result {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 750px;
    height: 1334px;
    background: url(../result-bg.png) center no-repeat;
    background-size: 100% 100%;

    .result-con {
      width: 750px;
      height: 1194px;
      // margin-top: 71px;
    }

    .result-code {
      display: flex;
      width: 585px;
      margin-top: 10px;
      justify-content: space-between;
      align-items: flex-end;

      .result-title {
        width: 84px;
        height: 111px;
      }

      .cn-result {
        background: url(../cn-result-title.png) no-repeat;
        background-size: cover;
      }

      .en-result {
        background: url(../en-result-title.png) no-repeat;
        background-size: cover;
      }

      .result-code-num {
        width: 84px;
        height: 111px;
      }

      .cn-code {
        background: url(../cn-code.png) no-repeat;
        background-size: cover;
      }

      .redo-button {
        width: 243px;
        height: 110px;
      }

      .save-button {
        width: 76px;
        height: 110px;
      }

      .en-redo {
        background: url(../en-redo.png) no-repeat;
        background-size: 100% auto;
      }

      .en-save {
        background: url(../en-save.png) no-repeat;
        background-size: cover;
      }

      .cn-redo {
        background: url(../cn-redo.png) no-repeat;
        background-size: 100% auto;
      }

      .cn-save {
        background: url(../cn-save.png) no-repeat;
        background-size: cover;
      }

      .en-code {
        background: url(../en-code.png) no-repeat;
        background-size: cover;
      }
    }

    .result-bottom {
      display: flex;
      justify-content: space-between;
      width: 621px;
      height: 168px;
      margin-top: 50px;

      .cn-bottom-right {
        width: 390px;
        display: flex;
        margin-left: 87px;
        flex-direction: column;
        flex-shrink: 0;

        :nth-child(1) {
          font-family: DengXian;
          font-size: 36px;
          color: #2c2c2c;
          height: 100px;
          line-height: 110px;
          text-align: left;
          font-style: normal;
          text-transform: none;
        }

        :nth-child(2) {
          font-family: DengXian;
          font-size: 18px;
          color: #2c2c2c;
          line-height: 25px;
          text-align: left;
          font-style: normal;
          text-transform: none;
        }

        :nth-child(3) {
          font-family: DengXian;
          font-size: 18px;
          color: #2c2c2c;
          line-height: 25px;
          text-align: left;
          font-style: normal;
          text-transform: none;
        }
      }

      .en-bottom-right {
        width: 390px;
        display: flex;
        margin-left: 87px;
        flex-direction: column;
        flex-shrink: 0;

        :nth-child(1) {
          font-family: DengXian;
          font-size: 28px;
          color: #2c2c2c;
          height: 90px;
          line-height: 120px;
          white-space: nowrap;
          text-align: left;
          font-style: normal;
          text-transform: none;
        }

        :nth-child(2) {
          font-family: DengXian;
          font-size: 22px;
          color: #2c2c2c;
          line-height: 40px;
          text-align: left;
          font-style: normal;
          text-transform: none;
        }

        :nth-child(3) {
          font-family: DengXian;
          font-size: 14px;
          color: #2c2c2c;
          line-height: 10px;
          text-align: left;
          font-style: normal;
          text-transform: none;
        }
      }

      .bottom-right {
        width: 133px;

        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: DengXian;
          font-size: 24px;
          color: #2c2c2c;
          line-height: 49px;
          text-align: center;
          font-style: normal;
          text-transform: none;
          width: 133px;
          height: 49px;
          background: url(../button.png) no-repeat;
          background-size: 100% auto;
        }

        :nth-child(1) {
          margin-top: 23px;
          margin-bottom: 23px;
        }

        :nth-child(3) {
          font-family: DengXian;
          font-size: 10px;
          color: #f7f7f6;
          line-height: 20px;
          text-align: center;
          font-style: normal;
          text-decoration-line: underline;
          text-transform: none;
        }
      }
    }

    .cp-title {
      display: flex;
      align-items: center;
      position: absolute;
      top: 55px;
      left: 45%;
      transform: translate(-50%) rotate(-3deg);
      font-family: HYETouSongW;
      white-space: nowrap;
      font-size: 28px;

      &::before {
        content: "";
        display: inline-block;
        height: 1px;
        width: 100px;
        margin-right: 10px;
        background-color: #2c2c2c;
      }

      &::after {
        content: "";
        margin-left: 10px;
        display: inline-block;
        height: 1px;
        width: 100px;
        background-color: #2c2c2c;
      }
    }
  }
}

.change {
  position: absolute;
  top: 155px;
  right: 89px;
  width: 140px;
  height: 47px;
}

.cn-btn {
  background: url(../cn-change.png) no-repeat;
  background-size: cover;
}

.en-btn {
  background: url(../en-change.png) no-repeat;
  background-size: cover;
}

@media (min-width: 750px) {
  button {
    cursor: pointer;
  }

  .button {
    cursor: pointer;
  }

  .change {
    cursor: pointer;
  }

  // .squre {
  //   .home {
  //     transform: scale(0.9);
  //     height: 100vh;
  //     width: auto;
  //   }
  // }
  .fill-bg {
    .fill {
      // height: 100%;
      transform: scale(0.9);
    }

    .confirm {
      cursor: pointer;
    }

    // .topic {
    //   .title {
    //     margin-top: 60px;
    //   }
    // }
  }

  .result {
    transform: scale(0.9);
  }

  .fill-bg .topic {
    transform: scale(0.722639);
  }

  .result-bg {
    overflow: hidden;
    align-items: center;

    .save-button {
      cursor: pointer;
    }

    .redo-button {
      cursor: pointer;
    }
  }

  .outside {
    cursor: pointer;
  }

  .input-list {
    input {
      font-size: 32px;
      padding-top: 0;
    }
  }
}
